@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.directions {
    position: absolute;
    width: 275px;
    top: 0px;
    right: 0px;
    padding: 1.25rem;
    padding-top: 0px;
    margin: 0.25rem;
    color: white;
    background-color: #2d3748;
    border-radius: 0.25rem;
}
